<!DOCTYPE html>
<html lang="{{ LANG | translate }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>h3xmani.ac loadout fork</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Gear planner and stat calculator for Splatoon 2. Create gear configurations and see the effects on your stats.">
  <meta name="robots" content="index, follow">

  <script src="../common/lib/jquery/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
  <script src="../common/lib/angular-animate.min.js"></script>
  <script src="../common/lib/angular-aria.min.js"></script>
  <script src="../common/lib/angular-touch.min.js"></script>
  <script src="../common/lib/jquery-ui-custom/jquery-ui.js"></script>
  <script src="../common/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="../common/lib/jquery-ui-custom/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

  <script src="./calc.js"></script>
  <script src="./util.js"></script>
  <script src="./loadout.js"></script>
  <script src="./encode.js"></script>
  <script src="./data/skills.js"></script>
  <script src="./data/weapons.js"></script>
  <script src="./data/subs.js"></script>
  <script src="./data/specials.js"></script>
  <script src="./data/hats.js"></script>
  <script src="./data/clothes.js"></script>
  <script src="./data/shoes.js"></script>
  <script src="./gear.js"></script>
  <script src="./stats.js"></script>
  <script src="./ui.js"></script>
  <script src="./modals.js"></script>

  <script src="https://use.fontawesome.com/c7118d472c.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="icon" href="../common/assets/img/misc/favicon.png">

  <link rel="stylesheet" href="../common/style/calc.css">
  <link rel="stylesheet" href="../common/style/dialog.css">
</head>
<body ng-cloak ng-app="splatApp" ng-controller="splatController">
  <div id="main">
    <script type="text/ng-template" id="blankModal.html">
      <div class="modal" ng-style="{'z-index': 1050 + index*10, display: 'block'}">
        <div class="modal-dialog " role="document">
          <div class="modal-body" ng-transclude></div>
        </div>
      </div>
    </script>
    <header class="hero-unit" id="splat-header">
      <a href="http://h3xmani.ac">
        <img src="./../common/assets/img/ui/logo-custom.png" />
      </a>
      <div id="language-picker" uib-dropdown is-open="status.langOpen">
        <button id="language-button" uib-dropdown-toggle><span class="fa fa-globe"></span> {{::languages['{{ LANG_SELECTOR | translate }}' || '{{ LANG_FULL | translate }}']}}</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" uib-dropdown-menu>
          <li role="menuitem" class="menuitem" ng-repeat="(key, value) in languages"><a ng-click="redirect(key)">{{value}}</a></li>
        </ul>
      </div>
    </header>
    <div class="container" id="maincontainer">
      <div class="row">
        <div id="loadout" class="col-lg-6 col-sm-12">
          <div id="loadout-gap">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                <div class="col-sm-6 col-sm-push-6 nopadding">
                  <div class="card purplestripes" id="utils">
                    <div class="row" ng-hide="screenshotMode">
                      <div class="col-xs-3">
                        <button class="icon-button" id="copybtn" data-clipboard-text="{{encodedURL()}}" uib-tooltip="{{ UI_COPY_LINK | translate }}" tooltip-append-to-body="true"><span class=""><i class="fa fa-fw fa-clipboard"></i><i class="fa fa-fw fa-check green" ng-show="showCopy"></i></span></button>
                        </div>
                        <div class="col-xs-3">
                          <button class="icon-button" ng-click="screenshotMode=!screenshotMode" uib-tooltip="{{ UI_SCREENSHOT_MODE | translate }}" tooltip-append-to-body="true"><span class="fa fa-fw fa-window-maximize"></span></button>
                        </div>
                        <div class="col-xs-3">
                          <button class="icon-button" ng-click="loadout.clearAbilities()" uib-tooltip="{{ UI_CLEAR_ABILITIES | translate }}" tooltip-append-to-body="true"><span class="fa fa-fw fa-undo"></span></button>
                        </div>
                        <div class="col-xs-3">
                          <button class="icon-button"ng-click="resetLoadout()" uib-tooltip="{{ UI_CLEAR_ALL | translate }}" tooltip-append-to-body="true"><span class="fa fa-fw fa-bomb"></span></button>
                        </div>
                      </div>
                      <div class="row" ng-hide="screenshotMode">
                        <div class="col-xs-12">
                          <span>
                            ver. 1.2.1N <span class="icon-button fa fa-question-circle-o" ng-controller="ModalCtrl" uib-tooltip="{{ UI_CHANGELOG | translate }}" ng-click="openChangelog()" tooltip-append-to-body="true"></span>
                          </span>
                        </div>
                      </div>
                      <div class="row screenshot-filler" ng-show="screenshotMode" ng-click="screenshotMode=!screenshotMode">
                        <img src="../common/assets/img/ui/logo-custom.png" />
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-sm-pull-6 nopadding">
                    <div class="card neonstripes" id="weapon">
                      <div class="row cardheader">
                        <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openWeaponPicker()" ><span class="glyphicon glyphicon-pencil"></span></button>
                        {{ WEAPON_SLOT | translate }}
                      </div>
                      <div class="row nopadding" id="weapon-name">
                        {{loadout.weapon.localizedName['{{ LANG_FULL | translate }}']}}
                      </div>
                      <div class="row">
                        <div class="col-xs-5">
                          <div class="gear-wrapper">
                            <img class="gear-icon" fallback-img ng-src="{{loadout.weapon.image}}"/>
                          </div>
                        </div>
                        <div class="col-xs-7">
                          <div class="row">
                            <div class="col-xs-4 nopadding">
                              <img fallback-img ng-src="{{getSubByName(loadout.weapon.sub).image}}" class="subspeicon" /><br>
                            </div>
                            <div class="col-xs-8 nopadding">
                              <div class="subspe-bubble">
                                <img fallback-img ng-src="{{getSpecialByName(loadout.weapon.special).image}}" class="subspeicon" />
                                {{getAdjustedSpecialCost(loadout)}}p
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 nopadding">
                      <div class="card itemcard redstripes">
                        <div class="row cardheader">
                          <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openGearPicker(hats,loadout.head.equipped,'head')" ><span class="glyphicon glyphicon-pencil"></span></button>
                          {{ HAT_SLOT | translate }}
                        </div>
                        <div class="row">
                          <div class="col-xs-12 nopadding">
                            <div class="gear-wrapper">
                              <img fallback-img class="gear-icon" ng-src="{{loadout.head.equipped.image}}" />
                              <span class="not-possible">
                                <span class="fa fa-5x fa-ban" uib-tooltip="{{ UI_NOT_POSSIBLE | translate }}" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.head.equipped,loadout.head.main.name)"></span>
                              </span>
                              <span class="annie">
                                <img ng-if="loadout.head.main?loadout.head.equipped.main!=loadout.head.main.name?isPossibleMain(loadout.head.equipped,loadout.head.main.name)?loadout.head.equipped.brand!='Grizzco'?true:falsee:false:false:false" src="../common/assets/img/misc/annie.png" uib-tooltip="{{ UI_NONSTANDARD_SPLATNET | translate }}" tooltip-append-to-body="true" />
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="ability-wrapper">
                            <img tabindex="0" class="abilityicon main" draggable-ability ability-slot="loadout.head.main" contains-fixed="{{loadout.head.equipped.fixed?true:false}}" contains-exclusive="{{loadout.head.main?loadout.head.main.exclusive?true:false:false}}" ng-src="{{loadout.head.getmainIcon()}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.head.subs[0]" ng-src="{{loadout.head.getSubIcon(0)}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.head.subs[1]" ng-src="{{loadout.head.getSubIcon(1)}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.head.subs[2]" ng-src="{{loadout.head.getSubIcon(2)}}" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 nopadding">
                      <div class="card itemcard tealstripes">
                        <div class="row cardheader">
                          <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openGearPicker(clothes,loadout.clothes.equipped,'clothes')" ><span class="glyphicon glyphicon-pencil"></span></button>
                          {{ CLOTHES_SLOT | translate }}
                        </div>
                        <div class="row">
                          <div class="col-xs-12 nopadding" >
                            <div class="gear-wrapper">
                              <img fallback-img class="gear-icon" ng-src="{{loadout.clothes.equipped.image}}" />
                              <span class="not-possible">
                                <span class="fa fa-5x fa-ban " uib-tooltip="{{ UI_NOT_POSSIBLE | translate }}" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.clothes.equipped,loadout.clothes.main.name)"></span>
                              </span>
                              <span class="annie">
                                <img ng-if="loadout.clothes.main?loadout.clothes.equipped.main!=loadout.clothes.main.name?isPossibleMain(loadout.clothes.equipped,loadout.clothes.main.name)?loadout.clothes.equipped.brand!='Grizzco'?true:false:false:false:false" src="../common/assets/img/misc/annie.png" uib-tooltip="{{ UI_NONSTANDARD_SPLATNET | translate }}" tooltip-append-to-body="true" />
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="ability-wrapper">
                            <img tabindex="0" class="abilityicon main" draggable-ability ability-slot="loadout.clothes.main" contains-fixed="{{loadout.clothes.equipped.fixed?true:false}}" contains-exclusive="{{loadout.clothes.main?loadout.clothes.main.exclusive?true:false:false}}" ng-src="{{loadout.clothes.getmainIcon()}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.clothes.subs[0]" ng-src="{{loadout.clothes.getSubIcon(0)}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.clothes.subs[1]" ng-src="{{loadout.clothes.getSubIcon(1)}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.clothes.subs[2]" ng-src="{{loadout.clothes.getSubIcon(2)}}" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 nopadding">
                      <div class="card itemcard orangestripes">
                        <div class="row cardheader">
                          <button class="icon-button" ng-hide="screenshotMode" ng-controller="ModalCtrl" ng-click="openGearPicker(shoes,loadout.shoes.equipped,'shoes')" ><span class="glyphicon glyphicon-pencil"></span></button>
                          {{ SHOES_SLOT | translate }}
                        </div>
                        <div class="row">
                          <div class="col-xs-12 nopadding" >
                            <div class="gear-wrapper">
                              <img fallback-img class="gear-icon" ng-src="{{loadout.shoes.equipped.image}}" />
                              <span class="not-possible">
                                <span class="fa fa-5x fa-ban " uib-tooltip="{{ UI_NOT_POSSIBLE | translate }}" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.shoes.equipped,loadout.shoes.main.name)"></span>
                              </span>
                              <span class="annie">
                                <img ng-if="loadout.shoes.main?loadout.shoes.equipped.main!=loadout.shoes.main.name?isPossibleMain(loadout.shoes.equipped,loadout.shoes.main.name)?loadout.shoes.equipped.brand!='Grizzco'?true:false:false:false:false" src="../common/assets/img/misc/annie.png" uib-tooltip="{{ UI_NONSTANDARD_SPLATNET | translate }}" tooltip-append-to-body="true" />
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="ability-wrapper">
                            <img tabindex="0" class="abilityicon main" draggable-ability ability-slot="loadout.shoes.main" contains-fixed="{{loadout.shoes.equipped.fixed?true:false}}" contains-exclusive="{{loadout.shoes.main?loadout.shoes.main.exclusive?true:false:false}}" ng-src="{{loadout.shoes.getmainIcon()}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.shoes.subs[0]" ng-src="{{loadout.shoes.getSubIcon(0)}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.shoes.subs[1]" ng-src="{{loadout.shoes.getSubIcon(1)}}" />
                            <img tabindex="0" class="abilityicon sub" draggable-ability ability-slot="loadout.shoes.subs[2]" ng-src="{{loadout.shoes.getSubIcon(2)}}" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row card" ability-box id="abilitybox">
                <img fallback-img ng-repeat="skill in getStackableSkills()" class="abilityicon" ability-menu uib-tooltip="{{skill.localizedName['{{ LANG_FULL | translate }}']}}"  tooltip-append-to-body="true" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{::skill.image}}">
                <hr>
                <img fallback-img ng-repeat="skill in getExclusiveSkills()" class="abilityicon" ability-menu uib-tooltip="{{skill.localizedName['{{ LANG_FULL | translate }}']}}" tooltip-append-to-body="true"  ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{::skill}}" ng-src="{{::skill.image}}">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 nopadding">
            <div id="stat-gap">
              <div id="statbox" class="card">
                <div class="row">
                  <div class="row cardheader">
                    {{ STATS_HEADER | translate }}
                  </div>
                  <div class="col-sm-6 col-xs-12" ng-repeat="stat in stats" ng-class="{ 'col-sm-offset-3': $last==true && $even ==true }">
                    <div class="statlabel readable">
                      <span ng-bind-html="stat.name | trust"></span>
                      <uib-progressbar type="pink" value="stat.value" max="stat.max" tooltip-placement="bottom" uib-tooltip="{{stat.desc}}" class="statbar"><span class="labelright readable">{{stat.label}}</span></uib-progressbar>
                    </div>
                  </div>
                  <div id="disclaimer">* {{ INACCURATE_DISCLAIMER | translate }}</div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <uib-accordion>
                      <div uib-accordion-group class="panel-stats" is-open="status.open">
                        <uib-accordion-heading>
                          <div>
                            {{ BOMB_HEADER | translate }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          </div>
                        </uib-accordion-heading>
                        <table class="table table-sm">
                          <tr>
                            <th>{{ BOMB_TABLE_BOMB | translate }}</th>
                            <th class="readable">{{ TABLE_DIRECT | translate }}</th>
                            <th class="readable">{{ TABLE_NEAR | translate }}</th>
                            <th class="readable">{{ TABLE_FAR | translate }}</th>
                          </tr>
                          <tbody>
                            <tr ng-repeat="sub in getDamagingSubs()">
                              <td>{{sub.localizedName['{{ LANG_SELECTOR | translate }}'] || sub.localizedName['{{ LANG_FULL | translate }}']}}</td>
                              <td>{{getAdjustedSubSpeDamage(sub,loadout)["Direct"]}}</td>
                              <td>{{getAdjustedSubSpeDamage(sub,loadout)["Near"]}}</td>
                              <td>{{getAdjustedSubSpeDamage(sub,loadout)["Far"]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div uib-accordion-group class="panel-stats" is-open="status.speOpen">
                        <uib-accordion-heading>
                          <div>
                            {{ SPECIAL_HEADER | translate }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.speOpen, 'glyphicon-chevron-right': !status.speOpen}"></i>
                          </div>
                        </uib-accordion-heading>
                        <table class="table table-sm">
                          <tr>
                            <th>{{ SPECIAL_TABLE_SPECIAL | translate }}</th>
                            <th class="readable">{{ TABLE_HIT | translate }}</th>
                            <th class="readable">{{ TABLE_NEAR | translate }}</th>
                            <th class="readable">{{ TABLE_FAR | translate }}</th>
                          </tr>
                          <tbody>
                            <tr ng-repeat="special in getDamagingSpecials()">
                              <td>{{special.localizedName['{{ LANG_SELECTOR | translate }}'] || special.localizedName['{{ LANG_FULL | translate }}']}}</td>                              
                              <td>{{getAdjustedSubSpeDamage(special,loadout)["Direct"]}}</td>
                              <td>{{getAdjustedSubSpeDamage(special,loadout)["Near"]}}</td>
                              <td>{{getAdjustedSubSpeDamage(special,loadout)["Far"]}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </uib-accordion>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <span><a ng-controller="ModalCtrl" href="" ng-click="openAbout()" >{{ FOOTER_ABOUT | translate }}</a> | <a href="https://gitlab.com/h3xmaniac/loadoutdotink" target="_blank">gitlab</a> | <a href="https://twitter.com/0xiTweets" target="_blank">twitter</a> | <a href="https://github.com/DeviPotato/splat2-calc" target="_blank">devipotato 2018</a> | <a href="http://support.h3xmani.ac" target="_blank">fork by nintennuendo</a> </span><br>
          {{ FOOTER_COPYRIGHT | translate }}
        </div>
      </footer>
      <div id="draggable-parent"></div>
  </div>
</body>
</html>

